In [1]:
#Import libraries
import pandas as pd
import sqlalchemy

In [12]:
#Check version of pandas
pd.__version__

'2.0.3'

In [3]:
#Read NY taxi data (yellow taxi, 2021)
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [3]:
taxi_zone = pd.read_csv('taxi_zone_lookup.csv')

In [5]:
taxi_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
print(pd.io.sql.get_schema(df, "yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [4]:
print(pd.io.sql.get_schema(taxi_zone, "taxi_zones"))

CREATE TABLE "taxi_zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [6]:
#Create connection to postgres
from sqlalchemy import create_engine

In [7]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [7]:
print(pd.io.sql.get_schema(df, "yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [8]:
print(pd.io.sql.get_schema(taxi_zone, "taxi_zones", con=engine))

CREATE TABLE taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [8]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace", chunksize=100000)

13769

In [10]:
taxi_zone.to_sql(name="taxi_zones", con=engine, if_exists="replace", chunksize=100000)

265

In [33]:
#Check version of sqlalchemt install (pandas required 1.4.6 or later)
pip show sqlalchemy

Name: SQLAlchemy
Version: 2.0.37
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: /opt/anaconda3/lib/python3.8/site-packages
Requires: greenlet, typing-extensions
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [9]:
#Update sqlalchemy to latest version for pandas compatibility 
pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.8/site-packages (2.0.37)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (4.9.0)
Note: you may need to restart the kernel to use updated packages.